.container
  %h2.title= task_name
  %ul
    - task.errors.full_messages.each do |message|
      %li= message
  - if task.persisted?
    - form_args = { model: task, url: board_task_path, method: 'put', local: true }
  - else
    - form_args = { model: task, url: board_tasks_path, local: true }

  = form_with(**form_args) do |f|
    %div
      = f.label :title, 'Title'
    %div
      = f.text_field :title, class: 'text'
    %div
      = f.label :content, 'Content'
    %div
      = f.text_area :content, class: 'text textarea'
    %div
      = f.label :deadline, 'Deadline'
    %div
      = f.date_field :deadline, class: 'text'
    = f.submit 'Submit', class: 'button'
